@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background:url(bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aadi{
    position: absolute;
    background-image: url()
    background-size: cover;
    height: 1000px;
    left: 100px;
    top: 50px;
}
#scoreBox{
    position: absolute;
    top: 42px;
    right: 186px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Fugaz One', cursive;
    
}
#board{
    background: linear-gradient(rgb(135, 218, 135),rgb(120, 83, 34));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    position: absolute;
left: 368px;
top: 45px;
}
.head{
    background-color: red;
    border: 2px solid rgb(118, 0, 118);
    background: linear-gradient(rgb(203, 126, 126),rgb(220, 220, 141));
    transform: scale(1.02);
    border-radius: 9px;
}
.snake{
    background-color:purple;
    border: .25vmin solid white;
    border-radius: 12px;

}
.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;


}
